models/best.pt filter=lfs diff=lfs merge=lfs -text
dataset/test/images/garbage-in-the-nature_30_jpg.rf.27fa91073e0a71d77c77001f1521d72d.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_22_jpg.rf.fd951fe683677ac5560403d6ef559b83.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_28_jpg.rf.534af9cd934cf6ffa6f21c63b6b62983.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_8_jpg.rf.275264bd506c9fe7c2b9e0417d416321.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-beach_28_jpg.rf.9828f32a51c873d8db6fa111ffe93903.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_21_jpg.rf.b16337163963aaad94cd0f6a9f01f4b2.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_6_jpg.rf.426142141ff37bac683141fd9f1f1c04.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_13_jpg.rf.7e51ae9d0e7d8f1c7a9ff33b80ee7217.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_16_jpg.rf.ed403b8c8cbb999b0cb7b1b652d9f78c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_4_jpg.rf.416224f789cc540e013138bce46bb19d.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-streets_8_jpg.rf.a2edc8fc6e272b87805cafa08ab82e0e.jpg filter=lfs diff=lfs merge=lfs -text
dataset/test/images/garbage-in-the-nature_6_jpg.rf.c70f2ffa95ddcf9069f1c72f5db8d7fe.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_7_jpg.rf.be879d82e382a91eddf740e1726e77f1.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_11_jpg.rf.a0f553fc1e6960f8edbb24f2b93371a9.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_13_jpg.rf.66fee716ce2833b4d7bcfe841252493a.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-streets_10_jpg.rf.a4d5072022b37c86a6c8f9de26aff354.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_17_jpg.rf.a32c55b8452e5608e7378b165ee9fb74.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_14_jpg.rf.4feb0f31df0e996dd8cf95b9bc2afb75.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_7_jpg.rf.82f2a238f0825ddf175a7317da062c23.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_23_jpg.rf.42e9770ea31aedfbd494349aae5306b0.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_7_jpg.rf.d0a41a68d1267ad4a3a6254b0e85d45a.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_14_jpg.rf.51ad0175d049163a227e3e2b618ee2a2.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_14_jpg.rf.009ec587738e2e7db932de919c0c7a99.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_19_jpg.rf.19faeb9f4ce2590977a9f7ffb81f5584.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_20_jpg.rf.c7b0e8d2dfacd4c81d8959a1c39005a4.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_25_jpg.rf.9c836ace7cee8a06113481b25db8319b.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_13_jpg.rf.555023b0cd0d660e3aef8b1072fd3966.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_22_jpg.rf.48110243f882b2a83f874b0abb14c65f.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_15_jpg.rf.e2bc4261b123f0694776fe862fba8679.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_20_jpg.rf.6a57da7bfc65ad93bd04a815202c2450.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_22_jpg.rf.89796b041667c5217da6c79fe03304f3.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_27_jpg.rf.6786785bcbd77743207d6443dcb57975.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_27_jpg.rf.94688962f5647e6bf4d89b1437829601.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_7_jpg.rf.5867ad3a32d0e6d13f598949bbf7ff2c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_28_jpg.rf.e4f5e2325ad0f6aabdd8e1bd7b45d59c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_18_jpg.rf.41e7399f9c0e6be0c6980e7ce17031f0.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_30_jpg.rf.c21ab4d8739d6b5f2d759ae5de53ceb4.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-streets_28_jpg.rf.1739b23157551d194eb8056c4e41934c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/test/images/garbage-in-the-beach_24_jpg.rf.c2b02ca654fb4f7834369b90856004c3.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_6_jpg.rf.526db37e07c60a0fdb5c1216b5b9bfad.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_4_jpg.rf.30f2a6d566847bf30e11341d17734c14.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_5_jpg.rf.cd48057f58f77f0defc80933c58135ab.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_29_jpg.rf.f350f3f5601c8f9daf2529091d53e10c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-beach_23_jpg.rf.a6b54bb24102d8229e07bacf04a52694.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_13_jpg.rf.b56810af00f6421666da3a69f4549bc8.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_20_jpg.rf.e6e864a7df0e759bfe9fd3a4a86e4fea.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_13_jpg.rf.df8992696db5c2e590b4ab2f3b5a3b6e.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_25_jpg.rf.b6fde57928cf787fab034a51abbf836c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_25_jpg.rf.eec4c05ae176d1d7629871f014b45556.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_20_jpg.rf.ffe2f45cd525fd04d5bfc3a9b6eb033c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_24_jpg.rf.a27430cecd91691fcd35fbad2207c8a7.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_14_jpg.rf.761260256ad2f5e26347c7c748e7e374.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_15_jpg.rf.8b50db8a17ca818244296eb250e0ef53.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_7_jpg.rf.074817eb71a420cadef9605b1801e5d8.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_12_jpg.rf.8b11bbf3298b228feebea35ef2280f87.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_11_jpg.rf.83625bb155a10d71f29c1e85a88b444e.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_29_jpg.rf.d7ccfa4282ee79a5d191fc9b9901fb30.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_30_jpg.rf.f63aefc13a7d1cd06bef9b1a6041f16e.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_5_jpg.rf.dab13551362642069d11af614a37a557.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_17_jpg.rf.5f7fad02ca6afd22dbeaa90188e1a67f.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_22_jpg.rf.25a85e9d1ffaf8e899eaa05a9edb77ec.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_14_jpg.rf.779751ba08c84fd373226f15d78ee629.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_28_jpg.rf.ba5a11dd87a828c0a53bbb4cdf428514.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_29_jpg.rf.578f44816cb79c0ce1bb494dc0f9df34.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_5_jpg.rf.d200858b01c8eb4bde3fdc6ab097ecc3.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_6_jpg.rf.b1b6abc396c3f0f2e55af996bf16a910.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_13_jpg.rf.eca99d0d51b369a594d9aaf481a5120c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_14_jpg.rf.a184051570e8b726c2d07aa43360a0d1.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_5_jpg.rf.de1c876f407a210e588d6930656f2be3.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_14_jpg.rf.f67ec5e7b549857af7f95dab65084bc5.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_22_jpg.rf.fc9123f6d27cd115bd4b5fe25942b1bc.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_26_jpg.rf.4eb291edb44fcf9ff77048713953ceda.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_11_jpg.rf.be54e206365001abb6e9238a81f5f8c0.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_26_jpg.rf.68e7c727461db61836db12618818a97d.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_4_jpg.rf.6df8acbde8030a136b7be754aab66884.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-beach_12_jpg.rf.608d6560f10b93d8449d8bfe2d465e29.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_26_jpg.rf.f439840c767df4121aa67c046783fa10.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_5_jpg.rf.c69516035066c855d5116b68eb9238b8.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_10_jpg.rf.e51511566f5a50d68b0fec99a359b300.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_23_jpg.rf.3bad3664c8000113bf0e018920c9d6df.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_21_jpg.rf.ed0a6ab2e073b58875fb059d06297243.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-streets_15_jpg.rf.f2082b1a3fc4e6d87ea31aefc6b18f28.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_21_jpg.rf.2cbb5a1ea70b431e8c6de7713e911539.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_17_jpg.rf.de0f4400b574c34273922a34b458de40.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_5_jpg.rf.aa7c03d3381374ed28a13f2397e46ec3.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_9_jpg.rf.96808bc67dc3e82509c22056309c1076.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-beach_30_jpg.rf.041e4fdeb9b9f7a6bdb6b0ed77c00e96.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_19_jpg.rf.c546d566552b27863289f473ccd04e94.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_19_jpg.rf.722a9f60bc987bdac17fd868c7dad48a.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_22_jpg.rf.32f1dfd6942a21f272902ee344cd5fb9.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_27_jpg.rf.f2a3d8c2b953ddd35725dcd68dd47454.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_5_jpg.rf.25ee7c5618e4fa24c6b901f71aaeb54a.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_18_jpg.rf.8d80d9e501267ca662830d068b045dd9.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_26_jpg.rf.e603d98f841c2ab3e589777f1f89d1a2.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-nature_18_jpg.rf.4e04f663578c2d34d873ee966838c510.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_15_jpg.rf.bf5cffa625dab94967676f827ffcde6e.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_17_jpg.rf.aed93838fa06030bba413e2ab65c6686.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_21_jpg.rf.45a112ea287667bd69d70d9ddfcda4d0.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_19_jpg.rf.6f706c25b1bcb4e128dbb8b6f12b6213.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_21_jpg.rf.526ed6e483c97b56e3d11ec8dde3c4d9.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_13_jpg.rf.2c8be76490021a1064c8c3a6c01716a4.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_16_jpg.rf.64a954a75d1b817d2767b75294eb536c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_20_jpg.rf.f78df708c7199bdc86fb5378bcaf2789.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_10_jpg.rf.a213ca6ddf2c65469074c1e86d92ca6a.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_10_jpg.rf.e65032dafa9ec2505100132a9ba093eb.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_19_jpg.rf.798d9d8ef6278ba5c4f700875a78cee2.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_20_jpg.rf.0692da2e036d6417f3053a764b66254f.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_22_jpg.rf.ae91712a0c988efa2440e2b5af017d42.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_6_jpg.rf.9fbe6d0a9a3d10bf5ab12145a19cae86.jpg filter=lfs diff=lfs merge=lfs -text
dataset/test/images/garbage-in-the-nature_21_jpg.rf.d55003b3b284a5a5622a173e5c2bd0e1.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_16_jpg.rf.520a297b7e34eaa4d3e6e801d6cf2c0f.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_21_jpg.rf.8a425324fcd50d185b17463c61de2cf4.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_24_jpg.rf.709ae4ab759568f06d4ca5e89a6ab1a8.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_8_jpg.rf.9ca2b38a2c22cb799254f59b26139be3.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_27_jpg.rf.dd0807464cfbf0c96bf63f3769f87982.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_16_jpg.rf.b831e9b2087abc2d345048e7f30150ed.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_22_jpg.rf.c0a066d9bf2f4008c3c1ac2e5a56838f.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_25_jpg.rf.e807cf61c7513e74b2710d7bf16eb9f7.jpg filter=lfs diff=lfs merge=lfs -text
dataset/test/images/garbage-in-the-beach_18_jpg.rf.ad25b33e7b6bd3100e7842c1edd35cb7.jpg filter=lfs diff=lfs merge=lfs -text
dataset/test/images/garbage-in-the-nature_29_jpg.rf.5a83bdc5a38e8f4e76753f3f417c5b86.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_12_jpg.rf.af6d66981066a826fee0f7027199be36.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_5_jpg.rf.cc06da51ec12a482841180a8d4d6fabb.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_30_jpg.rf.faaa20d3ca378b63f78778ffc8c32c7c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_8_jpg.rf.e5b26eebe26ab722718764f258f82963.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_19_jpg.rf.c7064ef40e311f0a13ae2a0b33c03afb.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_20_jpg.rf.2aed032038e80c4f4709e59daba5cd8b.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_14_jpg.rf.d8a603cbfad7cc55d788025683597993.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_25_jpg.rf.580c509a80f1158b3ef600d65fdee03e.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_26_jpg.rf.23ea4628cf5a43ab1609d22e76fb21cc.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_27_jpg.rf.a06bcf038a61b8b03b363f3920966358.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_6_jpg.rf.99934dd8262160ac630bd19a195a3ad4.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_24_jpg.rf.3e64b8a684a8171ba432d08d984a0fc5.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_9_jpg.rf.dfcbf46fdecb6982fbc0a924d07cb8cd.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-streets_17_jpg.rf.9397dc39c147963fd6cdc22af9774d4f.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_6_jpg.rf.a515d68f06327785dbb985d8d6ff31f2.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-beach_29_jpg.rf.8f3efcaec5cc2122463ffe5a4f6a5037.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_25_jpg.rf.9aba2f9d56d4008ee9b844810f201f8b.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_5_jpg.rf.2073f6126b876d3a24352b161bca59c4.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_13_jpg.rf.8704b51863caf75f6136af98188fa30f.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_17_jpg.rf.230f034a2dd794968c18fd5f290767aa.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_8_jpg.rf.91aaaf6c4eab2c535de949646accfe34.jpg filter=lfs diff=lfs merge=lfs -text
dataset/test/images/garbage-in-the-streets_27_jpg.rf.43585c9904b154f2afe6773b29966912.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_8_jpg.rf.116238e89d9c3b96fd806cbe9cb8ac29.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_20_jpg.rf.f8d38bf3c4c070134692ec704e4488b5.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_13_jpg.rf.30817146e604f9bfb7721c944cadf060.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_16_jpg.rf.c79b0d866c858e7ccc4600ee56f1257a.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_26_jpg.rf.91cc5797869dd45f2e56159519fa4daf.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_11_jpg.rf.e5f00e019504d5806918dc713ce62e3b.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_16_jpg.rf.d5e02f1e519d14e2ab03f66e23cf3955.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_23_jpg.rf.d0310b2076c5134d50eee9c6ce46cfed.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_8_jpg.rf.aa2c2094ddb938239221f8f6c5c20699.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_18_jpg.rf.a4ea0a7906150d5f6205ff0c40458e80.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_4_jpg.rf.857cc73b4822d481b227b531f19162e0.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-nature_26_jpg.rf.abe18dddb42bb580ae5231a1910a28e2.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_11_jpg.rf.370b0ad5948143b2b183b26667b6327c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_11_jpg.rf.4119a3d5763b41dd9070be3918037818.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_22_jpg.rf.44f98f9789b287ca5f2d61836e8045b2.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_27_jpg.rf.1a91713411385fb23cb545de90070d4c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_16_jpg.rf.ff46302e6871a5dcd0b4d29f9929602c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_16_jpg.rf.5036e073561017fccb0a424416b7dc01.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_12_jpg.rf.f52a8e684bfd5acc31eac523f092340d.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_17_jpg.rf.a126cc5b4e83e6c029c72dbf14306a13.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_4_jpg.rf.0013ec5aaa29f7bcbf5a760dd6a766d9.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-beach_19_jpg.rf.32e3c179623d3a761d405b89eaf2801b.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_19_jpg.rf.3199d928fa60b2095cdd24d5251e16f9.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_20_jpg.rf.244e6804431fa1ef0e0ee8cd27ef0b20.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_7_jpg.rf.31846e4795860eec2de2934e1821a23c.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-streets_23_jpg.rf.7f55a956f4660d7ad9e2d06811b304f4.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_9_jpg.rf.0f8b59f686a7da338ee3f5668f39d1a1.jpg filter=lfs diff=lfs merge=lfs -text
dataset/valid/images/garbage-in-the-nature_15_jpg.rf.e7838cf586389191bbc12067c4e4067f.jpg filter=lfs diff=lfs merge=lfs -text
dataset/test/images/garbage-in-the-streets_12_jpg.rf.b602c6e90156bbb9b6249d35c34056d4.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-nature_19_jpg.rf.995d1726caa894c2f0bf8b47b905e362.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_14_jpg.rf.45b544141efdb6b1502336cbfd04f6ce.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_16_jpg.rf.f949c17d32ef30766353353bbab623ca.jpg filter=lfs diff=lfs merge=lfs -text
dataset/train/images/garbage-in-the-streets_4_jpg.rf.6dc3410c2aedceaf1cb4f27041e921b9.jpg filter=lfs diff=lfs merge=lfs -text
